@font-face {
    font-family: janna;
    src: url(Janna-LT-Regular.ttf);
}
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:janna ;
}
:root {
    --purple:#9711a3;
    --cyan:#27a8c7;
    --orange:#da7d29 ;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 100px;
}
@media (max-width:767px) {
    .container {
        padding: 0 20px ;
    }
}
body {
    background-image: url(img/Screenshot_10.png);
    background-size: cover;
    direction: rtl;
}
/* Star Header */
header {
    margin: 20px 0;
}
.box {
    background-color: #fff;
    margin-bottom: 10px;
}
header ul {
    list-style: none;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
header li a {
    color: var(--cyan);
}
header li a:hover,
header li a.active {
    color: var(--purple);
}
header li{
    padding: 15px;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cyan) !important;
}
header li:not(:last-child)::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    background: var(--cyan);
}
@media (max-width:767px){
    header li {
        padding:5px;
        font-size: 12px;
    }
    header li:not(:last-child)::before {
        left: -3px;
    }
}
header li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    background: var(--orange);
    width: 0%;
    height: 2px;
    transition: .3s;
}header li:hover {
    color: var(--purple) !important;
}
header li:hover::after {
    width: 60%;
}
header .img-box {
    height: auto;
    margin: auto;
    width: 98%;
    position: relative;
}
header .img-box a.website {
  text-decoration: none;
  position: absolute;
  top: 35%;
  right: -1%;
  font-size: 5em;
  background: #fff;
  padding: 10px 45px 0px;
  border: 4px solid var(--cyan);
  border-radius: 6px;
  color: var(--purple);
}
header .img-box a.website span {
    color: var(--orange);
}
.img {
    background: url(./img/0FD8E840-6EBD-4C31-80AF-336F24F5E553.jpeg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    height: 1100px;
    background-position: center;
    background-size: cover;
}
@media (max-width:767px) {
    .img {
        height: 380px;
    }
}
@media (min-width:776px) {
    .img {
        height: 680px;
    }
}
@media (min-width:991px) {
    .img {
        height: 1100px;
    }
}
/* End Header */
/* Start Section */
.box .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    position: relative;
}
.box .heading::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 90%;
    height: 2px;
    background-color: var(--orange);
}
.box .heading p {
    font-size: 2.5em;
    line-height: 2;
    margin-bottom: 25px;
    color: var(--i);
    font-weight: bold;
}
@media (max-width:767px){ 
    .box .heading p {
        font-size: 1.2em;
    }
    .box .heading img    {
        width: 146px;
    }
    .box .heading {
        padding: 15px;
    }
    header .img-box a.website {
        font-size: 1.2em;
    }
}
.box .heading-2 {
    position: relative;
    padding: 0 35px;
    text-align: center;
}
.box .heading-2 h2 {
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 10px;
    line-height: 1.5;
    color: var(--cyan);
    letter-spacing: 4px;
}
.box .heading-2 p {
    font-size: 20px;
    color: var(--purple);
    letter-spacing: 2px;
    line-height: 1.7;
}
@media (max-width:767px) {
    .box .heading-2 {
        padding: 0 5px;
    }
    .box .heading-2 h2 {
        font-size: 2em;
    }
    .box .heading-2 p {
        font-size: 18px;
    }
}
.box .content {
    padding: 60px;
    text-align: center;
}
.content h4 {
    font-size: 3em;
    color: var(--orange);
}
.content span {
    font-size: 30px;
    color: var(--cyan);
}
.content p {
    text-align: right;
    font-size: 22px;
    margin-top: 30px;
    color: var(--cyan);
}
.content ul {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    color: var(--cyan);
}
.content a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: block;
    background: #eee;
    width: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    transition: .3s;
}
.content a:hover {
    background: var(--purple);
    color: var(--cyan);
}
@media (max-width:767px) {
    .content {
        padding: 40px 30px 20px 0 !important;
    }
}
.whatsapp img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height:55px;
    border-radius: 10px;
}
/* End Section */
